<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

<style>
body{
  background-color: #678983;
}

.top-pad{
  padding-top: 35px;
}

.top-container{
  background-color: #fff;
  overflow: hidden;
  overflow-x: hidden;
  height:55vh;
  border-radius: 7px;
  box-shadow:
    1.1px 1.1px 19.3px rgba(0, 0, 0, 0.12),
  2.7px 2.7px 23.2px rgba(0, 0, 0, 0.095),
  5px 5px 25.2px rgba(0, 0, 0, 0.077),
  8.9px 8.9px 28.5px rgba(0, 0, 0, 0.065),
  16.7px 16.7px 36.3px rgba(0, 0, 0, 0.053),
  40px 40px 57px rgba(0, 0, 0, 0.036)
  ;

}

.bottom-container{
  background-color:#fff;
  height: 30vh;
  border-radius : 7px;
box-shadow:
  1.1px 1.1px 19.3px rgba(0, 0, 0, 0.12),
2.7px 2.7px 23.2px rgba(0, 0, 0, 0.095),
5px 5px 25.2px rgba(0, 0, 0, 0.077),
8.9px 8.9px 28.5px rgba(0, 0, 0, 0.065),
16.7px 16.7px 36.3px rgba(0, 0, 0, 0.053),
40px 40px 57px rgba(0, 0, 0, 0.036)
;
}

#plugin_option, #theme_option, #js_option {
  display : none;
}
#piechart{
  transform: scale(0.8);
}

</style>
<% st_params = params[:source_timeline].present? ? params[:source_timeline] : nil %>
<% source = (st_params and st_params[:plugin_name].present?) ? V2::Plugin.where(:plugin_name => st_params[:plugin_name]).first : nil %>
<% source ||= (st_params and st_params[:theme_name].present?) ? V2::Theme.where(:theme_name => st_params[:theme_name]).first : nil %>
<% source ||= (st_params and st_params[:js_lib].present?) ? V2::JsInfo.where(:js_lib => st_params[:js_lib]).first : nil %>
<% start_date = (st_params and st_params[:start_date].present?) ? st_params[:start_date] : V2::Test.first.created_at%>
<% end_date = (st_params and st_params[:end_date].present?) ? st_params[:end_date] : V2::Test.last.updated_at%>

<%if source.present? %>
  <% data = source.history(start_date, end_date) %>
  <div class="w3-row" style="padding-top : 30px">
    <div class="w3-col s2">.</div>
    <div class="w3-col s8 top-container">
      <div style="padding-top : 20px; transform : scale(0.8)">
        <h2 class="w3-center" style="font-family: 'Roboto', sans-serif;">
          <% if source.class == V2::Plugin%>
            <%= source.plugin_name.upcase %>
          <% elsif source.class == V2::Theme%>
            <%= source.theme_name.upcase%>
          <% else %>
            <%= source.js_lib%>
          <% end%>
            history over the period
        </h2>
        <h3 class="w3-center" style="font-family: 'Roboto', sans-serif;"> <%=start_date.to_date %> to <%=end_date.to_date %> </h3>
      <div style="padding-top : 20px"><%= line_chart data, :xtitle => "Date", :ytitle => "usage in websites", :colors => ["green", "blue", "red"] %></div>
      </div>
    </div>
  </div>
  <div class="w3-col s2">.</div>
  </div>
<%end%>
<div class="w3-row top-pad">
  <div class="w3-col s2">.</div>
  <div class="w3-col s8 bottom-container">
    <%= form_for :source_timeline, :url => frontend_source_timeline_path, builder: ActiveAdmin::FormBuilder, :method => :post  do |f| %>
      <div class="w3-row w3-center" style="padding-top:30px;font-size:1.5rem">
        <div class="w3-col">
          Select Dates
        </div>
      </div>
      <div class="w3-row w3-center" style="padding-top:30px;font-size:1.5rem;transform:scale(0.8)">
        <menu>
      <div class="w3-col s2">
          <input id="plugin_radio" class="w3-radio" type="radio">
          <label>Plugins</label>
        </div>
        <div class="w3-col s2">
          <input id="theme_radio" class="w3-radio" type="radio">
          <label>Themes</label>
        </div>
        <div class="w3-col s2">
          <input id="js_radio" class="w3-radio" type="radio">
          <label>JS</label>
        </div>
        </menu>
        <div class="w3-col s6"></div>
      </div>
      <div class="w3-row w3-center top-pad">
        <div class="w3-col s4">
          <div id="plugin_option">
          <%= f.input :plugin_name, :as => :searchable_select, 
            :collection => V2::Plugin.all.pluck(:plugin_name).to_a.uniq %>
          </div>
          <div id="theme_option">
          <%= f.input :theme_name, :as => :searchable_select,
            :collection => V2::Theme.all.pluck(:theme_name).to_a.uniq %>
          </div>
          <div id="js_option">
          <%= f.input :js_lib, :as => :searchable_select,
            :collection => V2::JsInfo.all.pluck(:js_lib).to_a.uniq %>
          </div>
        </div>
        <div class="w3-col s4">
          From : <%= f.text_field :start_date, :class => "datepicker", :placeholder => "start date", 
            :value => (st_params and st_params[:start_date].present?) ? st_params[:start_date] : nil %>
        <% if notice %>
          <p><%= notice%></p>
        <%end%>
        </div>
        <div class="w3-col s4">
          To: <%= f.text_field :end_date, :class => "datepicker", :placeholder => "end date", 
            :value => (st_params.present? and st_params[:end_date].present?) ? st_params[:end_date] : nil %>
        </div>
        <div class="w3-col s4" style="margin-top : 10px">
          <button type="submit" class="w3-button w3-teal">Submit</button>
        </div>
      </div>
    <%end%>

  </div>
  <div class="w3-col s2">.</div>
</div>
<script>
document.getElementById("plugin_radio").addEventListener("click", () => {
    document.getElementById("plugin_option").style.display = "block";
    document.getElementById("theme_option").style.display = "none";
    document.getElementById("js_option").style.display = "none";
    document.getElementById("theme_radio").checked = false;
    document.getElementById("js_radio").checked = false;
});
document.getElementById("theme_radio").addEventListener("click", () => {
    document.getElementById("plugin_option").style.display = "none";
    document.getElementById("theme_option").style.display = "block";
    document.getElementById("js_option").style.display = "none";
    document.getElementById("plugin_radio").checked = false;
    document.getElementById("js_radio").checked = false;
});
document.getElementById("js_radio").addEventListener("click", () => {
    document.getElementById("plugin_option").style.display = "none";
    document.getElementById("theme_option").style.display = "none";
    document.getElementById("js_option").style.display = "block";
    document.getElementById("theme_radio").checked = false;
    document.getElementById("plugin_radio").checked = false;
});
</script>
