<style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  background-color:#F6F6F6;
}
th, td {
  padding: 13px;
}
h1{
  text-align: center;
}
h2 {
  margin-left: 11rem;
  margin-top: 60px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
</style>

<%= form_for "compare_test_form", builder: ActiveAdmin::FormBuilder, :url => "", :method => :post  do |f| %>
  <div class= 'panel'>
    <%= data = Url.find(resource.id).compare_two_test(test1, test2) %>
    <h1><%= link_to resource.url, admin_url_path(resource.id)%></h1>
    <h2> General Info </h2>
    <table class="center", style="width:80%">
      <thead><th>Field</th><th>Test1</th><th>Test2</th></thead>
      <tbody>
        <tr>
          <td> Cloudflare </td>
          <td><%= data[:data_1][:cloudflare] %></td>
          <td><%= data[:data_2][:cloudflare] %></td>
        </tr>
        <tr>
          <td> Wp Version </td>
          <td><%= data[:data_1][:cms_version] %></td>
          <td><%= data[:data_2][:cms_version] %></td>
        </tr>
        <tr>
          <td> LoginUrl </td>
          <td><%= data[:data_1][:login_url] %></td>
          <td><%= data[:data_2][:login_url] %></td>
        </tr>
      </tbody>
    </table>

    <h2> Plugins </h2>
    <table class="center", style="width:80%">
      <thead><th>Test1</th><th>Test2</th></thead>
      <tbody>
        <% for index in 0..data[:data_common][:plugin].count-1 %>
          <tr>
            <td><%= data[:data_common][:plugin][index] %></td>
            <td><%= data[:data_common][:plugin][index] %></td>
          </tr>
        <%end%>
        <%total_count = (data[:data_1][:plugin].count > data[:data_2][:plugin].count) ? data[:data_1][:plugin].count : data[:data_2][:plugin].count%>
        <% for index in 0..total_count-1 %>
          <tr>
            <td style="color : red"><%= data[:data_common][:plugin][index] %></td>
            <td><%= data[:data_common][:plugin][index] %></td>
          </tr>
        <%end%>
      </tbody>
    </table>

     <h2> Themes </h2>
    <table class="center", style="width:80%">
      <thead><th>Test1</th><th>Test2</th></thead>
      <tbody>
        <% for index in 0..data[:data_common][:theme].count-1 %>
          <tr>
            <td><%= data[:data_common][:theme][index] %></td>
            <td><%= data[:data_common][:theme][index] %></td>
          </tr>
        <%end%>
        <%total_count = (data[:data_1][:theme].count > data[:data_2][:theme].count) ? data[:data_1][:theme].count : data[:data_2][:theme].count%>
        <% for index in 0..total_count-1 %>
          <tr>
            <td style = "color:red;"><%= data[:data_1][:theme][index] %></td>
            <td style = "color:green;"><%= data[:data_2][:theme][index] %></td>
          </tr>
        <%end%>
      </tbody>
    </table>

    <h2> Js </h2>
    <table class="center", style="width:80%">
      <thead><th>Test1</th><th>Test2</th></thead>
      <tbody>
        <% for index in 0..data[:data_common][:js].count-1 %>
          <tr>
            <td><%= data[:data_common][:js][index] %></td>
            <td><%= data[:data_common][:js][index] %></td>
          </tr>
        <%end%>
        <%total_count = (data[:data_1][:js].count > data[:data_2][:js].count) ? data[:data_1][:js].count : data[:data_2][:js].count%>
        <% for index in 0..total_count-1 %>
          <tr>
            <td style = "color:red;"><%= data[:data_1][:js][index] %></td>
            <td style = "color:green;"><%= data[:data_2][:js][index] %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
<% end %>

