<%= form_for :sidebar_filters, builder: ActiveAdmin::FormBuilder,
  :url => admin_steps_path, :method => :get  do |f| %>
  <% sidebar_params = params["sidebar_filters"] || nil %>
  <%= f.label "Test Id"%>
  <% if sidebar_params and sidebar_params[:test_id]%>
    <%= f.text_field :test_id, :value => sidebar_params[:test_id] %>
  <% else %>
    <%= f.text_field :test_id %>
  <% end %>

  <%= f.label "Step Id", :style => "margin-top : 10px"%>
  <% if sidebar_params and sidebar_params[:step_id]%>
    <%= f.text_field :step_id, :value => sidebar_params[:step_id] %>
  <% else %>
    <%= f.text_field :step_id %>
  <% end %>

  <%= f.label "Status", :style => "margin-top : 10px" %>
  <% if sidebar_params and sidebar_params[:status]%>
    <%= f.select :status, Step::STATUS.invert, :selected => sidebar_params[:status], include_blank: "Any" %>
  <% else %>
    <%= f.select :status, Step::STATUS.invert, include_blank: true %>
  <% end %>

  <% if sidebar_params and sidebar_params[:created_at]%>
    <%= f.label "Created",:style => "margin-top : 10px" %>
      <p style="margin-top : 5px; display : grid; grid-template-column : auto auto">
      <%= f.label "From"%>
      <%= f.text_field :created_from, :class => "datepicker", :placeholder => "from date" %>
      <%= f.label "To"%>
      <%= f.text_field :created_to, :class => "datepicker", :placeholder => "to date" %>
      </p>
  <% else %>
    <%= f.label "Created", :style => "margin-top : 10px" %>
    <p style="margin-top : 5px; display : grid; grid-template-column : auto auto">
      <%= f.label "From" %>
      <%= f.text_field :created_from, :class => "datepicker", :placeholder => "from date" %>
      <%= f.label "To" %>
      <%= f.text_field :created_from, :class => "datepicker", :placeholder => "to date" %>
    </p>
  <% end %>

  <% if sidebar_params and sidebar_params[:updated_at]%>
    <%= f.label "Updated" %>
      <p>
      <%= f.label "From"%>
      <%= f.text_field :updated_from, :class => "datepicker", :placeholder => "from date", :style => "width : 50vw" %>
      <%= f.label "To"%>
      <%= f.text_field :updated_to, :class => "datepicker", :placeholder => "to date", :style => "width : 50vw" %>
      </p>
  <% else %>
    <%= f.label "Updated"%>
    <p>
      <%= f.label "From" %>
      <%= f.text_field :updated_from, :class => "datepicker", :placeholder => "from date" %>
      <%= f.label "To" %>
      <%= f.text_field :updated_from, :class => "datepicker", :placeholder => "to date" %>
    </p>
  <% end %>

  <% if sidebar_params %>
    <% if sidebar_params[:test_id].present? %>
      <%= "Test Id : " + sidebar_params[:test_id]%>
    <% end %>
    <% if sidebar_params[:step_id].present? %>
      <%= "Step Id : " + sidebar_params[:step_id]%>
    <% end %>

    <% if sidebar_params[:created_from].present? %>
      <%= " Created From : " + sidebar_params[:created_from]%>
    <% end %>

    <% if sidebar_params[:created_to].present? %>
      <%= "Created To : " + sidebar_params[:created_to]%>
    <% end %>
    <% if sidebar_params[:updated_from].present? %>
      <%= "Updated From : " + sidebar_params[:updated_from]%>
    <% end %>
    <% if sidebar_params[:updated_from].present? %>
      <%= "Updated To : " + sidebar_params[:updated_from]%>
    <% end %>
  <% end %>

  <%= f.submit "Apply Filters", :class => "button-primary"%>
<%end%>

